<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Home</title>

    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>

<header>
    <div class="header">
        <nav class="navCenter">
            <div class="logoplace">
                <a th:href="@{/index}">
                    <img src="/images/logoMuffin.png" class="logoSize" alt="">
                </a>
            </div>
        </nav>
        <ul class="account">
            <div id="email">E-mail</div>
            <li><a th:href="@{/adminsite}">Admin</a></li>
            <li><a th:href="@{/index}">Log Ud</a></li>
        </ul>
    </div>

    <nav class="navCenter">
        <div class="admin">
            <ul class="menu">

                <li><a th:href="@{/adminorders}">Ordre Oversigt</a></li>

                <li><a th:href="@{/adminuserinfo}">Kunde Oversigt</a></li>

                <li><a th:href="@{/adminsaldo}">Tilføj Saldo</a></li>

                <li><a th:href="@{/admincreateadmin}">Opret Admin</a></li>

            </ul>
        </div>
    </nav>

</header>

</body>
</html>