<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Admin_kundeoversigt</title>
</head>
<body>
<header>

</header>

<main>
    <h2>Kunde-oversigt</h2>
    <div class="infoTabel">
        <div class="input-group-admin">
            <label for="costumername">Navn:</label>
            <input type="text" id="costumername" name="costumername">

            <label for="costumernumber">Kunde nr.:</label>
            <input type="number" id="costumernumber" name="costumernuber">

        </div>
        <div class="input-group-admin">
            <label for="costumeremail">E-mail:</label>
            <input type="email" id="costumeremail" name="costumeremail">

            <form action="/viewuserinfo" method="get">
                <button type="submit">Søg</button>
            </form>

        </div>
    </div>

    <nav class="navCenter">
        <div class="tableWrapper">
            <table class="tableStyle">
                <thead>
                <tr>
                    <th>Kunde nr.</th>
                    <th>Navn</th>
                    <th>Efternavn</th>
                    <th>E-mail</th>
                </tr>
                </thead>
                <tbody class="bodyText">
                <tr th:each="costemer : ${costumerList}">
                    <td th:text="${costemer.kundenummer}"></td>
                    <td th:text="${costemer.kundenavn}"></td>
                    <td th:text="${costumer.kundeefternavn}"></td>
                    <td th:text="${costumer.kundeemail}"></td>
                <tbody>

            </table>
        </div>
    </nav>

</main>
</body>
</html>