<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Admin_Home</title>

    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>

<header>
    <div class="header">
        <nav class="navCenter">
            <div class="logoplace">
                <a th:href="@{/index}">
                    <img src="/images/logoMuffin.png" class="logoSize">
                </a>
            </div>
        </nav>
        <div id="email">E-mail</div>
        <ul class="admin_account">
            <li><a th:href="@{/admin}">Admin</a></li>
            <li><a th:href="@{/index}">Log Ud</a></li>
        </ul>
    </div>

    <nav class="navCenter">
        <ul class="menu">

            <li><a th:href="@{/adminorders}">Ordre Oversigt</a></li>

            <li><a th:href="@{/adminuserinfo}">Kunde Oversigt</a></li>

            <li><a th:href="@{/adminsaldo}">Tilføj Saldo</a></li>

            <li><a th:href="@{/admincreateadmin}">Opret Admin</a></li>

        </ul>
    </nav>

</header>

</body>
</html>