html {
    background-color: #FFF4FB;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 2%;
    position: relative;

}

main {
    flex: 1;
}

/* _______________ logo__________________  */

.logoplace {
    justify-content: center;
    display: flex;


}

.logoSize {
    width: clamp(160px, 23%, 260px);
    height: auto;
}

/* ________________ text __________________  */

h1 {
    font-family: "Indie Flower";
    font-weight: 600;
    font-size: clamp(24px, 4vw, 35px);
}

h2{
    font-family: "Indie Flower";
    font-weight: 400;
    font-size: clamp(20px, 4vw, 24px);
}


.account {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    list-style: none;
    margin: 0;
    right: 10px;
    margin-left: auto;
    top: 10px;
}

.account a {
    white-space: nowrap;
    text-decoration: none;
    color: black;
    font-family: "Indie Flower";
    font-weight: 500;
    font-size: clamp(20px, 2vw, 22px);
    flex-shrink: 0;
}


.account li.right {
    margin-left: auto;
    display: flex;
}

.account a:hover {
    opacity: 0.7;
}


/* this is for a line under the text */
.underline {
    text-decoration: none;
    color: black;
    font-family: "Indie Flower";
    font-weight: 500;
    font-size: clamp(20px, 1.5vw, 22px);
    width: 100%;
    max-width: 70%;
    margin: 0;
    padding-left: 5%;
    text-align: left;
    text-decoration: underline;
}

.underline a:hover {
    opacity: 0.7;
}

.bodyText {
    text-decoration: none;
    color: black;
    font-family: "Indie Flower";
    font-weight: 500;
    font-size: clamp(20px, 1.5vw, 22px);
    width: 100%;
    max-width: 70%;
    margin: 0;
    padding-left: 5%;
    text-align: left;
}


.bodyTextCenter {
    text-decoration: none;
    color: black;
    font-family: "Indie Flower";
    font-weight: 500;
    font-size: clamp(18px, 2vw, 22px);
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

/* ________________ padding __________________  */

.top-nav {
    padding-top: 2%;
}

.navCenter {
    padding-top: 2%;
    text-align: center;
    margin: 0 auto;
}

/* ________________ Menu __________________  */
.admin{
    text-align: center;
}

.menu {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width: 50%;
    margin: 0 auto;
    list-style: none;
    column-gap: 0;
}
.admin .menu{
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
}

.menu li {
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: "Indie Flower";
    font-weight: 500;
    font-size: clamp(16px, 2vw, 22px);
    white-space: nowrap;
}

.menu a:hover {
    opacity: 0.7;
}


.menu::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
    height: 3px;
    background-color: #3C1072;

}




/*-----------Menu string-------------*/

.menuLine {
    display: flex;
    align-items: center;
    max-width: 80%;
    height: 3px;
    color: #3C1072;
    margin: auto;
}


/* ________________ Footer/ info__________________  */

.footer {
    position: fixed;
    width: 100%;
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    gap: clamp(20px, 5vw, 60px);

    bottom: 2vh;
}

.footer a {
    transform: translateY(1px);
    position: relative;
    text-decoration: none;
    font-family: "Indie Flower";
    font-weight: 500;
    font-size: clamp(14px, 2vw, 25px);
    line-height: 2px;
    padding: clamp(5px, 1vw, 10px);

}

.footerDesign {

}

.footer-divider {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 65%;
    height: 2px;
    background-color: #3C1072;
}


/*-----Log in box and create acc box ------ */
.login-container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    stroke: #3C1072;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 96%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}

.login-container button {
    width: 100%;
    padding: 10px 0;
}


/*____________________*/
.infoTabel{

}


.input-group-admin{

}


/*_________button___________*/


button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D7D2FF;
    color: Black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Indie Flower";
}

button:hover {
    opacity: 0.7;

}

/*-----------Img---------------*/

.foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(20px, 5vw, 60px);
    max-width: 80%;
    margin: 0 auto;
}

.bigFoto {
    height: clamp(200px, 20vw, 300px);
    flex-shrink: 0;

}

.bigFoto img {
    max-height: 100%;
    width: auto;
}

.fotoIkon {
    height: clamp(10px, 20vw, 30px);
}

/*-----------Tabel---------------*/
.tableWrapper {
    width: 70%;
    max-width: 1100px;
    margin: auto;
    overflow-x: auto;
}

.tableStyle {
    border-collapse: collapse;
    margin: 40px 0;
    width: 100%;

    font-family: "Indie Flower";
    font-weight: 500;
    font-size: clamp(16px, 2vw, 22px);
    color: black;
}


/*-----------Tabel basket---------------*/

.basket .tableStyle th {
    background-color: #8572FB;
    color: black;
    padding: 10px;
    text-align: left;
}

.basket .tableStyle td {
    padding: 10px;
}

.basket .tableStyle tbody tr:nth-child(odd) {
    background-color: #D7D2FF;
}

.-basket .tableStyle tbody tr:nth-child(even) {
    background-color: #EDEBFF;
}



/*-----------Input box---------------*/
.containerBox{
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    stroke: #3C1072;
}

.containerBox h2 {
    margin-bottom: 20px;
}

.containerBox button {
    width: 100%;
    padding: 10px 0;
}