<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kurv</title>
    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>
<header>
    <div class="header">
        <nav class="navCenter">
            <div class="logoplace">
                <a th:href="@{/index}">
                    <img src="/images/logoMuffin.png" class="logoSize">
                </a>
            </div>
        </nav>
        <ul class="account">
            <div id="email" th:if="${session.user != null}">
                <p th:text="${session.user.email}"></p>
            </div>
            <li th:if="${session.user == null}"><a th:href="@{/login}">Login </a></li>
            <li th:if="${session.user == null}"><a th:href="@{/creatingAccount}">Opret bruger </a></li>
            <li th:if="${session.user != null && session.user.role == 'admin'}"><a th:href="@{/adminsite}">Admin</a></li>
            <li th:if="${session.user != null && session.user.role == 'client'}"><a th:href="@{/profile}">Profil</a></li>
            <li th:if="${session.user != null}"><a th:href="@{/logout}">Log Ud</a></li>
        </ul>
    </div>
    <nav class="navCenter">
        <ul class="menu">
            <li><a th:href="@{/ordre}"> Bestil </a></li>
            <li><a th:href="@{/gallery}"> Galleri </a></li>
            <a th:href="@{/basket}">
                <img src="/images/kurv.png" class="fotoIkon">
            </a>
        </ul>
    </nav>

    <nav class="navCenter">
        <div class="menuLine">
        </div>
    </nav>

</header>


<main>

    <nav class="navCenter">
        <div class="basket">
            <div class="tableWrapper">
                <table class="tableStyle">
                    <thead class="bodyText">
                    <tr>
                        <th>Cupcake</th>
                        <th>Stk. Pris</th>
                        <th>Antal</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="bodyText">

                    <tr th:each="basket : ${basketCupcakes}">
                        <td th:text="${basket}"></td>
                        <td th:text="${basket.price}"></td>
                        <td th:text="${basket.amount}"></td>
                        <td class="action">
                            <form method="post" th:action="edit">
                                <input type="hidden" name="basket" th:value="${basket}">
                                <button class="fotoIkon">
                                    <img src="/images/blyant.png" alt="Rededit">
                                </button>
                            </form>
                        </td>
                        <td class="action">
                            <form method="post" th:action="@{/delete}">
                                <input type="hidden" name="basket.id" th:value="${basket.id}" />
                                <button class="fotoIkon">
                                    <img src="/images/x.png">
                                </button>
                            </form>
                        </td>

                    <tfoot>
                    <tr>
                        <td>Total pris</td>
                        <td>Kr.</td>
                    </tr>
                    </tfoot>


                    <tbody>

                </table>
                <form th:action="@{/bestilordre}" method="post">
                <button type="submit">Bestil</button>
                </form>
            </div>
        </div>
    </nav>


    <p class="top-nav"></p>

</main>

<footer>
    <div class="navCenter">
        <ul class="footerDesign">
            <li><a th:href="@{/location}"> Find os </a></li>
            <li><a th:href="@{/contact}"> Kontakt </a></li>
            <li><a th:href="@{/about}"> Om os </a></li>
        </ul>
    </div>
</footer>


</body>
</html>