<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>kurv</title>
    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>
<header>
    <div class="header">
        <nav class="navCenter">
        <div class="logoplace">
            <a th:href="@{/index}">
                <img src="/images/logoMuffin.png" class="logoSize">
            </a>
        </div>
        </nav>
        <ul class="account">
            <li><a th:href="@{/login}"> Login </a></li>
            <li><a th:href="@{/creatingAccount}"> Opret bruger </a></li>
        </ul>
    </div>
    <nav class="navCenter">
    <ul class="menu">
        <li><a th:href="@{/ordre}"> Bestil </a></li>
        <li><a th:href="@{/gallery}"> Galleri </a></li>
        <a th:href="@{/basket}">
            <img src="/images/kurv.png" class="fotoIkon">
        </a>
    </ul>
    </nav>

    <nav class="navCenter">
        <div class="menuLine">
        </div>
    </nav>

</header>


<main>

    <nav class="navCenter">
        <div class="basket">
            <div class="tableWrapper">
                <table class="tableStyle">
                    <thead class="bodyText">
                    <tr>
                        <th>Cupcake</th>
                        <th>Stk. Pris</th>
                        <th>Anatal</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="bodyText">

                    <tr th:each="basket : ${basketList}">
                        <td th:text="${basket.cupcake}"></td>
                        <td th:text="${basket.price}"></td>
                        <td th:text="${basket.amount}"></td>
                        <td class="action">
                            <form method="post" action="edit">
                                <button class="fotoIkon">
                                    <img src="/images/blyant.png" alt="Rededit">
                                </button>
                            </form>
                        </td>
                        <td class="action">
                            <form method="post" action="delete">
                                <button class="fotoIkon">
                                    <img src="/images/x.png">
                                </button>
                            </form>
                        </td>

                    <tfoot>
                    <tr>
                        <td>Total pris</td>
                        <td>Kr.</td>
                    </tr>
                    </tfoot>


                    <tbody>

                </table>
            </div>
        </div>
    </nav>


</main>

<footer class="footer">
    <ul class="footerDesign">
        <li><a th:href="@{/location}"> Find os </a></li>
        <li><a th:href="@{/contact}"> Kontakt </a></li>
        <li><a th:href="@{/about}"> Om os </a></li>
    </ul>
</footer>


</body>
</html>