<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>
<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/index}">
                <img src="/images/logoMuffin.png" class="logoSize">
            </a>
        </div>

        <ul class="account">
                <li><a th:href="@{/login}"> Login </a></li>
                <li><a th:href="@{/creatingAccount}"> Opret bruger </a></li>
        </ul>
    </div>

    <ul class="menu">
        <li><a th:href="@{/ordre}"> Bestil </a></li>
        <li><a th:href="@{/gallery}"> Galleri </a></li>
        <a th:href="@{/basket}">
            <img src="/images/kurv.png" class="fotoIkon">
        </a>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
        </div>
    </nav>

</header>

<main>

    <div class="login-container">

        <h2>Opret bruger</h2>

        <form th:action="@{/createAccount}" method="post">

            <div class="input-group">
                <label for="firstname">Fornavn:</label>
                <input type="text" id="firstname" name="firstname" required>
            </div>

            <div class="input-group">
                <label for="lastname">Efternavn:</label>
                <input type="text" id="lastname" name="lastname" required>
            </div>

            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="password1">Kodeord:</label>
                <input type="password" id="password1" name="password1" required>
            </div>

            <div class="input-group">
                <label for="password2">Gentag kodeord:</label>
                <input type="password" id="password2" name="password2" required>
            </div>

            <button type="submit">Opret</button>

        </form>
    </div>

</main>

<footer class="footer">
    <ul class="footerDesign">
        <li><a th:href="@{/location}"> Find os </a></li>
        <li><a th:href="@{/contact}"> Kontakt </a></li>
        <li><a th:href="@{/about}"> Om os </a></li>
    </ul>
</footer>


</body>
</html>