<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galleri</title>
    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>
<header>
    <div class="header">
        <nav class="navCenter">
            <div class="logoplace">
                <a th:href="@{/index}">
                    <img src="/images/logoMuffin.png" class="logoSize">
                </a>
            </div>
        </nav>
        <ul class="account">
            <li><a th:href="@{/login}"> Login </a></li>
            <li><a th:href="@{/creatingAccount}"> Opret bruger </a></li>
        </ul>
    </div>
    <nav class="navCenter">
        <ul class="menu">
            <li><a th:href="@{/ordre}"> Bestil </a></li>
            <li><a th:href="@{/gallery}"> Galleri </a></li>
            <a th:href="@{/basket}">
                <img src="/images/kurv.png" class="fotoIkon">
            </a>
        </ul>
    </nav>

    <nav class="navCenter">
        <div class="menuLine">
        </div>
    </nav>

</header>


<main>

    <nav class="navCenter">
        <div class="item">
            <div class="foto">
                <img src="/images/cupcakesfoto/plain_chokolade.jpg" class="item">
                <img src="/images/cupcakesfoto/plain_mandel.jpg" class="item">
                <img src="/images/cupcakesfoto/plain_vanilje.jpg" class="item">
                <img src="/images/cupcakesfoto/plain_muskat.jpg" class="item">
                <img src="/images/cupcakesfoto/plain_pistace.jpg" class="item">
                <img src="/images/cupcakesfoto/vanilje_appelsin.jpg" class="item">
                <img src="/images/cupcakesfoto/vanilje_blueberry.jpg" class="item">
                <img src="/images/cupcakesfoto/vanilje_strawberry.jpg" class="item">
                <img src="/images/cupcakesfoto/vanlje_chokolade.jpg" class="item">
                <img src="/images/cupcakesfoto/chocolate_blueberry.jpg" class="item">
                <img src="/images/cupcakesfoto/chokolade_appelsin.jpg" class="item">
                <img src="/images/cupcakesfoto/chocolate_strawberry.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_193644.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_193700.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_194354.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_194417.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_195015.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_195025.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_195116.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_195612.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_195842.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_200538.jpg" class="item">
                <img src="/images/cupcakesfoto/20260406_200614.jpg" class="item">
                <img src="/images/cupcakesfoto/cupcake1.jpg" class="item">

            </div>
        </div>
    </nav>
</main>
<p class="top-nav"></p>

<footer>
    <div class="navCenter">
        <ul class="footerDesign">
            <li><a th:href="@{/location}"> Find os </a></li>
            <li><a th:href="@{/contact}"> Kontakt </a></li>
            <li><a th:href="@{/about}"> Om os </a></li>
        </ul>
    </div>
</footer>


</body>
</html>