<!DOCTYPE html>
<html lang="da" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>
<header>
    <div class="header">
        <nav class="navCenter">
            <div class="logoplace">
                <a th:href="@{/index}">
                    <img src="/images/logoMuffin.png" class="logoSize">
                </a>
            </div>
        </nav>
        <ul class="account">
            <li><a th:href="@{/login}"> Login </a></li>
            <li><a th:href="@{/creatingAccount}"> Opret bruger </a></li>
        </ul>
    </div>

    <nav class="navCenter">
        <ul class="menu">
            <li><a th:href="@{/ordre}"> Bestil </a></li>
            <li><a th:href="@{/gallery}"> Galleri </a></li>
            <a th:href="@{/basket}">
                <img src="/images/kurv.png" class="fotoIkon">
            </a>
        </ul>
    </nav>

    <nav class="navCenter">
        <div class="menuLine">
        </div>
    </nav>

</header>


<main>

    <div class="login-container">

        <h2>Login</h2>

        <form th:action="@{/login}" method="post">

            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="password">Kodeord:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">Login</button>

        </form>
    </div>


</main>

<footer class="footer">
    <ul class="footerDesign">
        <li><a th:href="@{/location}"> Find os </a></li>
        <li><a th:href="@{/contact}"> Kontakt </a></li>
        <li><a th:href="@{/about}"> Om os </a></li>
    </ul>
</footer>


</body>
</html>