<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Dine_ordre</title>
    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>
<header>
    <div class="header">
        <nav class="navCenter">
            <div class="logoplace">
                <a th:href="@{/index}">
                    <img src="/images/logoMuffin.png" class="logoSize">
                </a>
            </div>
        </nav>
        <ul class="account">
            <li><a th:href="@{/login}"> Login </a></li>
            <li><a th:href="@{/creatingAccount}"> Opret bruger </a></li>
        </ul>
    </div>
    <nav class="navCenter">
    <ul class="menu">
        <li><a th:href="@{/ordre}"> Bestil </a></li>
        <li><a th:href="@{/gallery}"> Galleri </a></li>
        <a th:href="@{/basket}">
            <img src="/images/kurv.png" class="fotoIkon">
        </a>
    </ul>
    </nav>

    <nav class="navCenter">
        <div class="menuLine">
        </div>
    </nav>

</header>


<main>
    <nav class="navCenter">
        <h2>Bestil</h2>
        <div class="containerBox">
            <form th:action="@{/createCupcake}" method="post">
                <div class="input-group">
                    <label class="form-label" for="selectbottom">CupCake bund</label>
                    <select name="selectbottom" id="selectbottom" class="form-input">
                        <option value="almond">Mandel</option>
                        <option value="chocolate">Chokolade</option>
                        <option value="nutmeg">Muskatnød</option>
                        <option value="pistacio">Pistace</option>
                        <option value="vanilla">Vanilje</option>
                    </select>
                </div>

                <div class="input-group">
                    <label class="form-label" for="selecttop">CupCake topping</label>
                    <select name="selecttop" id="selecttop" class="form-input">
                        <option value="orange">Appelsin</option>
                        <option value="blueberry">Blåbær</option>
                        <option value="blue cheese">Blåskimmel</option>
                        <option value="chocolate">Chokolade</option>
                        <option value="lemon">Citron</option>
                        <option value="raspberry">Hindbær</option>
                        <option value="strawberry">Jordbær</option>
                        <option value="crispy">Nougatin</option>
                        <option value="plain">Uden topping</option>
                        <option value="rum/raisin">Rom og Rosin</option>
                    </select>
                </div>

                <div class="input-group">
                    <label for="amount">Antal:</label>
                    <input type="number" id="amount" name="amount" required>
                </div>

                <div>
                    <h2>Pris pr.stk: </h2>
                    <!-- <data value="price"></data> -->
                </div>

                <div>
                    <button type="submit">Bestil</button>
                </div>

            </form>
        </div>
    </nav>

</main>

<footer>
    <div class="navCenter">
        <ul class="footerDesign">
            <li><a th:href="@{/location}"> Find os </a></li>
            <li><a th:href="@{/contact}"> Kontakt </a></li>
            <li><a th:href="@{/about}"> Om os </a></li>
        </ul>
    </div>
</footer>


</body>
</html>