<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" th:href="@{/css/Stylesheet.css}">
</head>
<body>
<header>
    <div class="header">
        <nav class="navCenter">
            <div class="logoplace">
                <a th:href="@{/index}">
                    <img src="/images/logoMuffin.png" class="logoSize" alt="">
                </a>
            </div>
        </nav>
        <ul class="account">
            <li><a th:href="@{/login}"> Login </a></li>
            <li><a th:href="@{/creatingAccount}"> Opret bruger </a></li>
        </ul>
    </div>
    <nav class="navCenter">
        <ul class="menu">
            <li><a th:href="@{/ordre}"> Bestil </a></li>
            <li><a th:href="@{/gallery}"> Galleri </a></li>
            <a th:href="@{/basket}">
                <img src="/images/kurv.png" class="fotoIkon" alt="">
            </a>
        </ul>
    </nav>

    <nav class="navCenter">
        <div class="menuLine">
        </div>
    </nav>

</header>


<main>

    <nav class="navCenter">
        <h2>Profil Oplysninger</h2>
        <div class="containerBox">
            <form th:action="@{/clientInfo}" method="get">
                <section class="profile-card">
                    <div class="profile-card-field">
                        <p class="profile-card-label">Fornavn:</p>
                        <p class="profile-card-value" th:text="${client.fornavn}"></p>
                    </div>
                    <div class="profile-card-field">
                        <p class="profile-card-label">Efternavn:</p>
                        <p class="profile-card-value" th:text="${client.efternavn}"></p>
                    </div>
                    <div class="profile-card-field">
                        <p class="profile-card-label">E-mail:</p>
                        <p class="profile-card-value" th:text="${client.email}"></p>
                    </div>
                    <div class="profile-card-field">
                        <p class="profile-card-label">Saldo:</p>
                        <p class="profile-card-value" th:text="${client.saldo}"></p>
                    </div>
                </section>
            </form>
        </div>

    </nav>

</main>

<footer>
    <div class="navCenter">
        <ul class="footerDesign">
            <li><a th:href="@{/location}"> Find os </a></li>
            <li><a th:href="@{/contact}"> Kontakt </a></li>
            <li><a th:href="@{/about}"> Om os </a></li>
        </ul>
    </div>
</footer>


</body>
</html>